* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {

background: linear-gradient(180deg, #8000FF 0%, #00DDDE 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

.hide {
  display: none !important;
}

.container {
  width: 380px;
  min-height: 400px;
  padding: 2rem;
  background: rgba(217, 217, 217, 0.24);
  backdrop-filter: blur(2.5px);
  border-radius: 2em;
  border: 1px solid #cccccc6c;
}

/* IMC Form */
#calc-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}


.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.form-control {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.form-control .label {
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;

  transition: all 0.2s ease;
  pointer-events: none;
}

.form-control input[type="text"] {
  margin-top: 2em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: white;
  outline: none;

}

.form-control input[type="text"]:focus~.label,
.form-control input[type="text"]:valid~.label {
  top: -0.5em;
  color: #ccc;
}


::placeholder {
  display: none !important;
  color: transparent;

}


.action-control {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}


button {
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: #005a44;
  border: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.9;
  flex: 1;
  border-radius: 2em;
}

button:hover {
  opacity: 1;
}

#clear-btn {
  background-color: rgb(250, 91, 91);
}

/* Table */
#result-container {
  text-align: center;
}

#imc-number {
  font-size: 2.2rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6em;
}

#imc-info {
  font-size: 1.4rem;
  color: #fff;
}

#name-info {
  font-size: 2em;
  margin-bottom: 0.2em;
}

#age-info {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

#result-container h3 {
  margin-top: 2rem;
  color: #dfdfdf;
}

#result-container {
  display: flex;
  flex-direction: column;
}

#imc-table {
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

.table-header {
  font-weight: bold;
  color: #fff;
}

.table-header,
.table-data {
  display: flex;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ffffff;
  text-align: center;
  justify-content: center;
}

.table-header h4,
.table-data p {
  flex: 1;
}
.table-data p{
  font-size: 1em;
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 80px;
}

#back-btn {
  align-self: center;
}

.good {
  color: #12db34;
}

.low {
  color: #dbce12;
}

.medium {
  color: #db6212;
}

.high {
  color: #db1912;
}
footer{
  font-size: 0.8em;
  color: ghostwhite;
  margin-top: 1em;
}

/* Responsive*/
@media (min-width:320px) {

  .container {
    max-width: 300px;
    margin-left: 1em;
    margin-right: 1em;
  }
}
